@import "~angular-material/angular-material";
@import '~angular-material-data-table/dist/md-data-table.min.css';
/*@import '~material-design-icons/iconfont/material-icons.css';*/

body{
	font-family: century gothic !important;
}

md-backdrop{
	position: fixed;
}

table{
	thead{
		&:nth-child(1){
			th{
				padding: 0 7px 0px 7px !important;
				text-align: left !important;
			}
		}
	}
	th{
	    padding: 0 10px !important;
        text-align: center !important;
	}
	tbody{
		td{
			&:not(:nth-child(1)){
				padding: 0 56px 0px 7px !important;
			}

		}
	}
}