@import "~angular-material/angular-material";
@import '~angular-material-data-table/dist/md-data-table.min.css';
/*@import '~material-design-icons/iconfont/material-icons.css';*/

body{
	font-family: century gothic !important;
	background: #efefef !important;
}

.custom-md-toolbar{
	background: linear-gradient(154deg, #008fe2 0, #00b29c 100%) !important;
}

md-backdrop{
	position: fixed;
}

table{
	thead{
		&:nth-child(1){
			th{
				padding: 0 15px 0px 7px !important;
				text-align: left !important;
			}
		}
	}
	th{
	    padding: 0 10px !important;
        text-align: center !important;
	}
	tbody{
		td{
			&:not(:nth-child(1)){
				padding: 0 35px 0px 7px !important;
				text-align: left !important;
				font-size: 12px !important;
			}
			white-space:nowrap;
		}
	}
}

.spinner-loader{
	height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
}

/*transparent-loader*/
#cover-spin {
    position:absolute;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    /*background-color: rgba(16, 16, 16, 0.48);*/
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    /*display:none;*/
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:52px;height:52px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}