@import "~angular-material/angular-material";
/*@import '~angular-material-data-table/dist/md-data-table.min.css';*/
/*@import '~material-design-icons/iconfont/material-icons.css';*/

/*background: linear-gradient(to bottom,#F8F8F8 0,#eeeeee 100%);*/

body{
	font-family: century gothic !important;
	background: #efefef !important;
}

md-progress-linear{
  height: 2.5px !important;
  .md-container {
    height: 2.5px !important;
  }
}

.custom-md-toolbar{
	background: linear-gradient(154deg, #008fe2 0, #00b29c 100%) !important;
}

md-backdrop{
	position: fixed;
}

md-sidenav{
  font-size: 14px !important;
}

md-input-container{
  input {
    /*text-transform: uppercase;*/
  }
  md-icon{
    color: #676767;
  }
}

.spinner-loader{
	height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
}

/*transparent-loader*/
#cover-spin {
    position:absolute;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    /*background-color: rgba(16, 16, 16, 0.48);*/
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    /*display:none;*/
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:52px;height:52px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}


.container {
  position: relative;
}
/*
table {
  border-collapse: separate;
  border-spacing: 0;
  position: absolute;
  width: 100%;
}
*/

table{
  /*border-collapse: collapse;*/
  position: absolute;
  border-spacing: 0px !important;
  width: 100%;
  font-size: 12px;
  thead{
    background: linear-gradient(to bottom,#F8F8F8 0,#eeeeee 100%);
    color: #636363;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    position: relative; 
    z-index: 1;

    tr{
      th{
        height: 37px;
        text-align: left;
        padding: 0 15px 0px 7px;
        &:nth-child(1){
            padding: 0 15px 0px 15px !important;
            text-align: center !important;
        }
        &:nth-child(1), &:nth-child(2){
          border-right: 1px solid #ccc !important;
        }
      }
    }

    .scholars{
      th{
        &:nth-child(2){
          min-width: 340px;
        }
        &:nth-child(3){
          min-width: 94px;
        }
        &:nth-child(6){
          select{
            min-width: 73px;
          }
        }
        &:nth-child(7), &:nth-child(9), &:nth-child(12){
          select{
            min-width: 115px;
          }
        }
        input{
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        select{
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }

  }
  tbody{
    tr{
      /*border-bottom: 1px solid #e1e1e1;*/
      th{
        padding: 0 10px !important;
        text-align: center !important;

        &:nth-child(1), &:nth-child(2){
          border-right: 1px solid #ccc !important;
        }
      }
      td {
        height: 37px;
        background: #fff;
        &:nth-child(1){
          text-align: center !important;
        }
        &:nth-child(1), &:nth-child(2){
          border-right: 1px solid #ccc !important;
        }
        &:nth-child(2){
          span{
            display: flex;
            align-items: center;
            img{
              margin-right: 5px;
            }
          }
        };
        &:not(:nth-child(1)){
          padding: 0px 45px 0px 7px !important;
          text-align: left !important;
          font-size: 12px !important;
        }
        white-space:nowrap;
      }
    }
  }
}

th,
.fixed-cell {
  background: linear-gradient(to bottom,#F8F8F8 0,#eeeeee 100%);
  /*background-color: red !important;*/
  /*background-color: #f6c08e !important;*/
}