<md-sidenav class="md-sidenav-right" md-component-id="addUpdateContract">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">{{ c.buttonText }}</h1>
  </md-toolbar>
  <md-content layout-padding style="font-size: 13px;">
    <div>
      <md-card style="margin: 5px 0px;">
        <md-card-header>
          <md-card-avatar>
            <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">history_edu</md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ c.labelText }}</span>
            <span class="md-subhead">Academic year</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-content style="padding: 0px 16px 0px 16px;">
          <form>
            <div layout="column" >
              <md-input-container flex="">
                <label>Semester</label>
                <md-select ng-model="c.semester">
                  <md-option ng-value="sem.semester" ng-repeat="sem in c.semester_list"><em>{{ sem.semester }}</em></md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex="">
                <label>Academic year</label>
                <input type="text" ng-model="c.academic_year">
              </md-input-container>
              <div layout="column">
                <span>Undergraduate:</span>
                <md-input-container flex="">
                  <label>Amount</label>
                  <input type="text" ng-model="c.undergraduate_amount">
                </md-input-container>
                <span>Master/Doctorate:</span>
                <md-input-container flex="">
                  <label>Amount</label>
                  <input type="text" ng-model="c.masteral_doctorate_amount">
                </md-input-container>
              </div>
            </div>
            <div style="margin-bottom: 1.5em">
              <md-button class="md-raised md-primary" ng-click="c.saveOrUpdateAcademicYearList()" style="width: 100%;margin: 10px 0px !important;">{{ c.buttonText }}</md-button>
              <md-button class="md-raised" ng-click="c.close()" style="width: 100%;margin: 0px !important;">Close</md-button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</md-sidenav>