<md-dialog aria-label="List dialog" style="width: 27%; border: 1px solid;">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="as.closeDialog()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content>
    <div layout="column" style="padding: 20px 27px 20px 17px; min-height: 270px;margin: 20px 0px;">
        <md-input-container>
          <md-icon class="material-icons">roofing</md-icon>
          <label>School name</label>
          <input type="text" ng-model="as.school_name" required>
        </md-input-container>
        <md-input-container>
          <md-icon class="material-icons">place</md-icon>
          <label>Items</label>
          <md-select ng-model="as.selected_province" ng-change="as.selectedProvinceChange()" required>
            <md-option ng-repeat="province in as.provinces" ng-value="province" >{{ province.province_name }}</md-option>
          </md-select>
        </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions style="align-items: unset;padding: 0px;">
    <button style="width: 50%;border: none;background: #3f51b5;color: #ffff; outline: none;" ng-click="as.save('testing')" ng-disabled="as.saving">Save</button>
    <button style="width: 50%;border: none;background: #c12424;color: #ffff; outline: none;" ng-click="as.closeDialog()">Cancel</button>
  </md-dialog-actions>
</md-dialog>