<div style="font-size: 14px;">
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">content_paste</md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Undergraduate</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">save</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Save
                  <span class="md-alt-text">Ctrl-S</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Clear
                  <span class="md-alt-text">Ctrl-E</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View list
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">person</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Addresses
                  <span class="md-alt-text">Ctrl-B</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">account_balance</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Schools
                  <span class="md-alt-text">Ctrl-M</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">business</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Courses
                  <span class="md-alt-text">Ctrl-D</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">save</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Maximize
                  <span class="md-alt-text">F11</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Minimize
                  <span class="md-alt-text">Ctrl-N</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>

  <div layout="column" ng-style="resize()" resize-add-scholars-div>
    <section layout="row" flex layout-xs="column">
      <div layout="row" layout-xs="column" style="background-color: #fff; border-right: 1px solid #c7c7c7;min-width: 340px;" >
        <md-content flex layout-padding style="height: 100%;background-color: #fff; padding: 0px;;">
          <md-list flex>
            <md-input-container style="width: 100%;margin: 25px 0px 0px 0px;height: 40px;">
              <label>Search</label>
              <input type="text" ng-model="ac.scholar_lastname" style="text-transform: uppercase;">
            </md-input-container>
            <md-subheader class="md-no-sticky">Udergraduate list</md-subheader>
            <div style="overflow-y: auto;" ng-style="resizeList()" resize-md-list>
            <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 10px;" ng-if="!ac.scholars_loaded">
              <md-progress-circular md-diameter="25px"></md-progress-circular>
            </div>
              <md-list-item class="md-2-line" ng-repeat="scholar in ac.scholars track by $index" ng-if="ac.scholars_loaded">
                <img src="images/avatarmale.svg" class="md-avatar" alt="" />
                <div class="md-list-item-text" style="max-width: 210px;">
                  <h5 style="margin: 0px;">{{scholar.lastname}},&nbsp;{{scholar.firstname}}&nbsp;{{scholar.middlename}}.</h5>
                  <p style="font-size: 12px;">{{ scholar.school.school_name }}</p>
                </div>
                <span ng-if="$index===ac.selectedIndex" style="margin: 7px 0px;">opening..</span>
                <md-menu ng-if="$index!==ac.selectedIndex">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)" style="padding: 0px;margin: 0;">
                    <md-icon class="material-icons" >more_horiz</md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="ac.edit(scholar)">
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="ac.print(scholar, $index)">
                        Print
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
            </div>
          </md-list>
        </md-content>
      </div>
      <div flex="" layout-padding style="background: #efefef;max-height: 495px; overflow-y: auto;border-top: 1px solid #c7c7c7;" >
        <h3 ng-if="!ac.has_semester">Contract closed.</h3>
        <div ng-if="ac.has_semester">
          <md-card style="margin: 0px;">
            <md-card-header>
              <md-card-avatar>
                <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">groups</md-icon>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">Details</span>
                <span class="md-subhead">Undergraduate</span>
              </md-card-header-text>
              <md-card-header-text style="text-align: right;">
                <span class="md-subhead" style="color: #008300;">AY - {{ ac.academic_year }}</span>
                <span class="md-subhead">{{ ac.semester }}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding: 0px 16px;" >
              <form name="primary_details">
                <div layout="row" layout-xs="column">
                    <md-input-container flex="">
                      <label>Firstname</label>
                      <md-icon class="material-icons">how_to_reg</md-icon>
                      <input type="text" ng-model="ac.firstname">
                    </md-input-container>

                    <md-input-container flex="">
                      <label>Lastname</label>
                      <textarea ng-model="ac.lastname"></textarea>
                    </md-input-container>

                    <md-input-container flex="">
                      <label>Middlename</label>
                      <textarea ng-model="ac.middlename"></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                  <div style="display: flex;width: 100%;position: relative;">
                    <md-icon class="material-icons">place</md-icon>
                    <md-autocomplete flex
                      md-input-name="autocompleteField"
                      md-input-minlength="1"
                      md-no-cache="ac.noCache"
                      md-selected-item="ac.address"
                      md-search-text="ac.search_address"
                      md-delay="500"
                      md-selected-item-change="ac.selectedAddressChange(address)"
                      md-items="address in ac.addressSearchQuery(ac.search_address)"
                      md-item-text="address.full_address"
                      md-autoselect="true"
                      md-escape-options="clear"
                      md-require-match=""
                      md-floating-label="Address">
                      <md-item-template>
                        <span md-highlight-text="ac.search_address" md-highlight-flags="^i">{{address.full_address}}</span>
                      </md-item-template>
                      <md-not-found>
                        No address matching "{{ac.search_address}}" were found.
                      </md-not-found>
                    </md-autocomplete>
                  </div>
                  <md-input-container flex="20">
                    <label>Date of Birth</label>
                    <input type="text" ng-model="ac.date_of_birth" ng-change="ac.selectedDateOfBirth(ac.date_of_birth)" add-double-slashes-directive />                </md-input-container>
                  <md-input-container flex="10">
                    <label>Age</label>
                    <textarea ng-model="ac.displayedAge" disabled></textarea>
                  </md-input-container>
                  <md-input-container flex="20">
                    <label>Gender</label>
                    <md-select ng-model="ac.gender">
                      <md-option value="Male"><em>Male</em></md-option>
                      <md-option value="Female"><em>Female</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                  <md-icon class="material-icons">account_balance</md-icon>
                  <md-autocomplete flex
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="ac.noCache"
                    md-selected-item="ac.school"
                    md-search-text-change="ac.searchSchoolChange(ac.search_school)"
                    md-search-text="ac.search_school"
                    md-delay="500"
                    md-selected-item-change="ac.selectedSchoolChange(school)"
                    md-items="school in ac.schoolSearchQuery(ac.search_school)"
                    md-item-text="school.school_name"
                    md-autoselect="true"
                    md-escape-options="clear"
                    md-require-match=""
                    md-floating-label="School">
                    <md-item-template>
                      <span md-highlight-text="ac.search_school" md-highlight-flags="^i">{{school.school_name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No states matching "{{ac.search_school}}" were found.
                    </md-not-found>
                  </md-autocomplete>
                  <md-input-container flex="40">
                    <label>Course & Section</label>
                    <textarea ng-model="ac.course_section"></textarea>
                  </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                  <md-input-container flex>
                    <label>Year level.</label>
                    <md-select ng-model="ac.year_level">
                      <md-option value="1st year"><em>1st year</em></md-option>
                      <md-option value="2nd year"><em>2nd year</em></md-option>
                      <md-option value="3rd year"><em>3rd year</em></md-option>
                      <md-option value="4th year"><em>4th year</em></md-option>
                      <md-option value="5th year"><em>5th year</em></md-option>
                      <md-option value="6th year"><em>6th year</em></md-option>
                      <md-option value="7th year"><em>7th year</em></md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex="30">
                    <label>ID NO.</label>
                    <textarea ng-model="ac.student_id_number"></textarea>
                  </md-input-container>
                  <md-input-container flex="20">
                    <label>IP.</label>
                    <md-select ng-model="ac.IP">
                      <md-option value="YES"><em>YES</em></md-option>
                      <md-option value="NO"><em>NO</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </form>
            </md-card-content>
          </md-card>

          <md-card style="margin: 5px 0px;">
            <md-card-content style="padding: 15px 16px 0px 16px;">
              <p>Father's Details</p>
              <div layout="row" layout-xs="column">
                <md-icon class="material-icons">accessibility_new</md-icon>
                <md-autocomplete flex 
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="ac.noCache"
                  md-selected-item="ac.father"
                  md-search-text="ac.search_flastname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedFatherDetailsChange(fdetails)"
                  md-items="fdetails in ac.fatherSearchQuery(ac.search_flastname)"
                  md-item-text="fdetails.f_lastname"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Lastname">
                  <md-item-template>
                    <span md-highlight-text="ac.search_flastname">{{fdetails.f_lastname}}, {{fdetails.f_firstname}}{{fdetails.f_middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_school}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex="">
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.f_firstname" >
                </md-input-container>
                <md-input-container flex="">
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.f_middlename" >
                </md-input-container>
              </div>    
              <p>Mother's Details</p>
              <div layout="row" layout-xs="column">
                <md-icon class="material-icons">pregnant_woman</md-icon>
                <md-autocomplete flex 
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="ac.noCache"
                  md-selected-item="ac.mother"
                  md-search-text="ac.search_mlastname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedMotherDetailsChange(mdetails)"
                  md-items="mdetails in ac.motherSearchQuery(ac.search_mlastname)"
                  md-item-text="mdetails.m_lastname"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Lastname">
                  <md-item-template>
                    <span md-highlight-text="ac.search_mlastname">{{mdetails.m_lastname}}, {{mdetails.m_firstname}}{{mdetails.m_middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_school}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex="">
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.m_firstname" >
                </md-input-container>
                <md-input-container flex="">
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.m_middlename" >
                </md-input-container>
              </div>
            </md-card-content>
            <div style="width: 100%;text-align: right;">
              <md-button class="md-raised md-primary" ng-click="ac.saveNewScholarDetails()">Save</md-button>
              <md-button class="md-raised" ng-click="ac.clear()">Clear</md-button>
            </div>
          </md-card>  
        </div>
      </div>
    </section>
  </div>
</div>