<md-sidenav class="md-sidenav-right" md-component-id="addUpdateContract" md-whiteframe="4" style="max-width: 270px;position: fixed;">
  <md-toolbar class="md-theme-light" style="min-height: 35px;max-height: 35px;">
    <md-icon class="material-icons" ng-click="c.close()" style="position: absolute;left: 7px;top: 5px; cursor: pointer; background-color: #616dc3;">close</md-icon>
  </md-toolbar>
  <md-content layout-padding style="font-size: 13px;">
    <div>
        <div style="padding: 0px 16px 0px 16px;">
          <span class="md-title">{{ c.labelText }}</span>
          <form name="c.add_update_contract">
            <div layout="column" >
              <md-input-container>
                <label>Semester</label>
                <md-select ng-model="c.semester" required>
                  <md-option ng-value="sem.semester" ng-repeat="sem in c.semester_list"><em>{{ sem.semester }}</em></md-option>
                </md-select>
              </md-input-container>
              <span style="margin-bottom: 20px;">Academic year:</span>
              <div layout="column">
                <span>From:</span>
                <md-input-container style="margin: 0px;">
                  <input type="text" ng-model="c.academic_year_from" name="academic_year_from" accept-only-numbers year-length autocomplete="off" contract-date ng-class="{ 'invalid': c.invalid_year === true }" required> 
                  <span ng-if="c.invalid_year && c.add_update_contract.$dirty" style="color:red;">Invalid year</span>
                </md-input-container>
                <span>To:</span>
                <md-input-container style="margin: 0px;">
                  <input type="text" ng-model="c.display_academic_year" accept-only-numbers autocomplete="off" disabled contract-academic-year required>
                </md-input-container>
              </div>
              <div layout="column">
                <span>Undergraduate:</span>
                <md-input-container flex="">
                  <label>Amount</label>
                  <input type="text" ng-model="c.undergraduate_amount" accept-only-numbers currency-formatter autocomplete="off" required>
                </md-input-container>
                <span>Master/Doctorate:</span>
                <md-input-container flex="">
                  <label>Amount</label>
                  <input type="text" ng-model="c.masteral_doctorate_amount" accept-only-numbers currency-formatter autocomplete="off" required>
                </md-input-container>
              </div>
            </div>
            <div style="margin-bottom: 1.5em">
              <md-button class="md-raised md-primary" ng-disabled="c.add_update_contract.$invalid || !c.add_update_contract.$dirty" ng-click="c.saveOrUpdateAcademicYearList()" style="width: 100%;margin: 10px 0px !important;">{{ c.buttonText }}</md-button>
            </div>
          </form>
        </div>
    </div>
  </md-content>
</md-sidenav>