<md-sidenav class="md-sidenav-right" md-component-id="addUpdateUser" style="min-width: 65%;">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">ADD USER</h1>
  </md-toolbar>
  <md-content layout-padding style="font-size: 13px;">
    <div>
      <md-card style="margin: 5px 0px;">
    <!--     <md-card-header style="padding: 20px 28px;">
          <md-card-avatar>
            <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">location_on</md-icon>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Add</span>
            <span class="md-subhead">User</span>
          </md-card-header-text>
        </md-card-header> -->
      <md-card-content style="padding: 13px;" >

            <md-content class="md-padding autocomplete" layout="column">
              <div>
                <form name="primary_details">
                  <div layout="row" layout-xs="column" style="margin-bottom: 15px;">
                      <div flex="13" class="image-holder">
                        <div class="file-input">
                          <button ng-click="u.editPhoto()">edit</button>
                        </div>
                        <div layout="column" class="file-image">
                          <img ng-src="{{ u.photo | checkScholarPhoto }}" style="border-radius: 1em;">
                        </div>
                      </div>
                      <md-input-container flex="">
                        <label>Name</label>
                        <input type="text" ng-model="u.name">
                      </md-input-container>
                      <md-input-container flex="">
                        <label>Email</label>
                        <input type="email" name="" ng-model="u.email">
                      </md-input-container>
                  </div>
                  <div layout="row" layout-xs="column">
                    <md-input-container flex="">
                      <label>Password</label>
                      <input type="password" ng-model="u.password">
                    </md-input-container>
                    <md-input-container flex="">
                      <label>Confirm password</label>
                      <input type="password" ng-model="u.c_password">
                    </md-input-container>
                    <md-input-container flex>
                      <label>User type</label>
                      <md-select ng-model="u.user_type">
                        <md-option value="Admin"><em>Admin</em></md-option>
                        <md-option value="User"><em>User</em></md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div layout="row" layout-xs="column">
                    <md-input-container flex="35">
                      <label>Status</label>
                      <md-select ng-model="u.year_level">
                        <md-option value="Active"><em>Active</em></md-option>
                        <md-option value="In-Active"><em>In-Active</em></md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                </form>
              </div>

              <p class="md-title">Add degree</p>
              <md-radio-group ng-model="u.selected_degree_options" ng-change="u.selectedDegreeOptions()">
                <div flex layout="row">
                  <md-radio-button value="*" aria-label="All" class="md-primary">
                    All
                  </md-radio-button>
                  <md-radio-button value="Custom" aria-label="Custom" class="md-primary" ng-if="!isAdmin">
                    Custom
                  </md-radio-button>
                </div>
              </md-radio-group>
              <br />
              <div ng-if="u.custom_degree">
                <label id="toLabel">Degree access, ex. (Undergraduate/Masters/Doctorate).</label>
                <md-chips ng-model="u.selectedDegree" ng-change="u.onModelChange(u.selectedDegree)" md-autocomplete-snap md-require-match="true" style="background: whitesmoke;margin-top: 5px;">
                  <md-autocomplete
                      md-selected-item="u.selectedItem"
                      md-search-text="u.searchText"
                      md-items="item in u.queryDegree(u.searchText)"
                      md-item-text="item"
                      placeholder="">
                    <span md-highlight-text="u.searchText">{{item}}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <strong>{{$chip}}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>



              <br>
              <p class="md-title">Add Municipality</p>
              <md-radio-group ng-model="u.selected_municipality_options" ng-change="u.selectedMunicipalityOptions()">
                <div flex layout="row">
                  <md-radio-button value="*" aria-label="All" class="md-primary">
                    All
                  </md-radio-button>
                  <md-radio-button value="Custom" aria-label="Custom" class="md-primary" ng-if="!isAdmin">
                    Custom
                  </md-radio-button>
                </div>
              </md-radio-group>
              <br />
              <div ng-if="u.custom_municipality">
                <label id="toLabel">Municipal access, ex. (Anini-y, Hamtic etc.).</label>
                <md-chips ng-model="u.selectedMunicipalities" md-autocomplete-snap md-require-match="true" style="background: whitesmoke;margin-top: 5px;">
                  <md-autocomplete
                      md-selected-item="u.selectedItems"
                      md-search-text="u.searchMunicipality"
                      md-items="item in u.queryMunicipality(u.searchMunicipality)"
                      md-item-text="item.municipality"
                      placeholder="Search for a municipality">
                    <span md-highlight-text="u.searchMunicipality">{{item.municipality}}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <strong>{{$chip.municipality}}</strong>
                    </span>
                  </md-chip-template>
                </md-chips>
              </div>


<!--                <md-contact-chips
                  ng-model="u.selectedDegree"
                  ng-change="u.onModelChange(u.selectedDegree)"
                  md-contacts="u.queryDegree($query)"
                  md-contact-name="degree"
                  md-require-match="true"
                  md-highlight-flags="i"
                  placeholder="Type name to see matches"
                  secondary-placeholder="Add Municipality"
                  input-aria-label="Intended Recipients">
              </md-contact-chips>
               -->

          </md-card-content>
          <div style="text-align: left; padding: 3px 20px;">
            <md-button class="md-raised md-primary" ng-click="u.save()" >Save</md-button>
            <md-button class="md-raised" ng-click="u.close()">Close</md-button>
          </div>
          <br />
      </md-card>
    </div>
  </md-content>
</md-sidenav>