<md-sidenav class="md-sidenav-right" flex-xs="100" md-component-id="addUpdateCourse" md-whiteframe="4" style="min-width: 400px;position:fixed;">
  <md-toolbar class="md-theme-light" style="min-height: 35px;max-height: 35px;">
    <md-icon class="material-icons" ng-click="cc.close()" style="position: absolute;left: 7px;top: 5px; cursor: pointer; background-color: #616dc3;">close</md-icon>
  </md-toolbar>
  <md-content layout-padding style="font-size: 13px;">
    <div>
      <div style="margin: 5px 0px;">
        </md-card-header>
        <div style="padding: 15px 16px 0px 16px;">
          <span class="md-title">{{ cc.labelText }}</span>
          <form name="cc.courseForm">
            <div layout="column" >
              <md-input-container flex="">
                <label>Course</label>
                <input type="text" ng-model="cc.course" uppercase required>
              </md-input-container>
              <md-input-container>
                <label>Select degree</label>
                <md-select ng-model="cc.selected_degree" required>
                  <md-option ng-value="degree" ng-repeat="degree in $root.access_degree"><em>{{ degree }}</em></md-option>
                </md-select>
              </md-input-container>
            </div>
            <div style="margin-bottom: 2em; margin-top: 3em;">
              <md-button class="md-raised md-primary" ng-click="cc.saveUpdateCourse()" ng-disabled="cc.courseForm.$invalid || cc.courseForm.$pristine || cc.saving_updating" style="width: 100%;margin: 10px 0px !important;">{{ cc.saveUpdateBtnText }}</md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </md-content>
</md-sidenav>