<ng-include src="'/header.html'"></ng-include> 
<div class="undergraduate fading" show-change-view mobile="ac.isMobile">
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler>
        <md-icon class="material-icons">groups</md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Undergraduate</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">save</md-icon>
                <md-button ng-click="ac.saveNewUndergraduateDetails()" ng-disabled="!ac.scholar_details.$valid || ac.saving">
                  {{ ac.saving ? 'Saving...' : 'Save' }}
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-button ng-click="ac.clear()" ng-disabled="ac.saving">
                  Clear
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">fullscreen</md-icon>
                <md-button ng-click="ac.changeView()">
                  Full screen
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent" ng-if="ac.isMobile">
                <md-icon class="material-icons">{{ac.displayview == true? 'view_list' : 'add_to_drive'}}</md-icon>
                <md-button ng-click="ac.changeView()">
                  {{ac.displayview == true? 'List view' : 'Add view'}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <div layout="column">
    <section layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
      <div layout="row" layout-xs="column" class="scholar-md-list" ng-hide="ac.displayview && ac.isMobile">
        <md-content flex layout-padding>
          <md-list flex>
            <md-input-container class="md-container">
              <label>Search</label>
              <input type="text" ng-model="ac.scholar_lastname">
            </md-input-container>
            <md-subheader class="md-no-sticky">Udergraduate list</md-subheader>
            <div class="added-scholar-list" ng-style="resizeList()" resize-md-list  when-scrolled="ac.loadmore()">
              <md-list-item class="md-2-line" ng-repeat="scholar in ac.scholars track by $index" ng-if="ac.scholars_loaded">
                <img ng-src="{{ scholar.photo | checkScholarPhoto }}" class="md-avatar scholar-image" alt="" />
                <div class="md-list-item-text">
                  <h4>{{ scholar | formatName }}</h4>
                  <p>{{ scholar.school.school_name }} - {{ scholar.degree }}</p>
                </div>
                <span ng-if="$index===ac.selectedIndex" style="margin: 7px 0px;">opening..</span>
                <md-menu ng-if="$index!==ac.selectedIndex">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)" style="padding: 0px;margin: 0;">
                    <md-icon class="material-icons" >more_horiz</md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="ac.edit(scholar)">
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="ac.print(scholar, $index)">
                        Print
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
              <div ng-if="!ac.hide_load_more" style="text-align: center;font-size: 13px;">
                <md-button class="md-hue-2" ng-click="ac.loadmore()">Load more</md-button>
              </div>
              <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 10px;" ng-if="ac.load_busy">
                <md-progress-circular md-diameter="25px"></md-progress-circular>
              </div>
            </div>
          </md-list>
        </md-content>
      </div>
      <div flex style="background: #efefef;overflow-y: auto;border-top: 1px solid #c7c7c7;padding: 10px;" ng-style="resizeDiv()" resize-div height="145" ng-hide="!ac.displayview && ac.isMobile">
        <form name="ac.scholar_details" class="uppercase">
        <div class="fading-up">
          <md-card style="margin: 0px;">
            <md-card-header style="padding: 22px 25px 0px;">
              <md-card-avatar>
                <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">groups</md-icon>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">Details</span>
                <span class="md-subhead">Undergraduate</span>
              </md-card-header-text>
              <md-card-header-text style="text-align: right;">
                <span class="md-subhead" style="color: #008300;">AY - {{ ac.academic_year }}</span>
                <span class="md-subhead">{{ ac.semester }}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding: 0px 30px;" >
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                    <md-input-container flex>
                      <label>Firstname</label>
                      <input type="text" ng-model="ac.firstname" autocomplete="off"  accept-only-letters required>
                    </md-input-container>
                    <md-input-container flex>
                      <label>Middlename</label>
                      <input type="text" ng-model="ac.middlename" accept-only-letters>
                    </md-input-container>
                    <md-input-container flex>
                      <label>Lastname</label>
                      <input type="text" ng-model="ac.lastname" accept-only-letters required>
                    </md-input-container>
                    <md-input-container flex-gt-md="7">
                      <label>Suffix</label>
                      <md-select ng-model="ac.suffix" required>
                        <md-option value="NONE">NONE</md-option>
                        <md-option ng-repeat="suff in ac.suffix_list" ng-value="suff.suffix"><em>{{suff.suffix}}</em></md-option>
                      </md-select>
                    </md-input-container>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <div style="display: flex;width: 100%;position: relative;">
                    <md-autocomplete flex
                      md-input-name="autocompleteField"
                      md-input-minlength="1"
                      md-no-cache="false"
                      md-selected-item="ac.fulladdress"
                      md-search-text="ac.search_address"
                      md-delay="500"
                      md-selected-item-change="ac.selectedAddressChange(address)"
                      md-items="address in ac.addressSearchQuery(ac.search_address)"
                      md-item-text="address.fulladdress"
                      md-autoselect="true"
                      md-escape-options="clear"
                      md-require-match=""
                      md-floating-label="Address"
                      ng-trim="true"
                      required>
                      <md-item-template>
                        <span md-highlight-text="ac.search_address" md-highlight-flags="^i">{{address.fulladdress}}</span>
                      </md-item-template>
                      <md-not-found>
                        No address matching "{{ac.search_address}}" were found.
                      </md-not-found>
                    </md-autocomplete>
                  </div>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15">
                    <label>Date of Birth</label>
                    <input type="text" name="date_of_birth" ng-model="ac.date_of_birth" ng-change="ac.selectedDateOfBirth(ac.date_of_birth)" minlength="10" add-double-slashes-directive autocomplete="off" required/>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
                    <label>Age</label>
                    <input ng-model="ac.displayedAge" disabled required>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="20">
                    <label>Gender</label>
                    <md-select ng-model="ac.gender" required>
                      <md-option ng-repeat="gender in ac.gender_list" ng-value="gender"><em>{{gender}}</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15" style="padding-right:10px">
                    <label>Civil status</label>
                    <md-select ng-model="ac.civil_status" required>
                      <md-option ng-repeat="civil_status in ac.civil_status_list" ng-value="civil_status"><em>{{ civil_status }}</em></md-option>
                    </md-select>
                  </md-input-container>
                  <md-autocomplete flex
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="false"
                    md-selected-item="ac.school"
                    md-search-text="ac.search_school"
                    md-delay="500"
                    md-selected-item-change="ac.selectedSchoolChange(school)"
                    md-items="school in ac.schoolSearchQuery(ac.search_school)"
                    md-item-text="school.school_name"
                    md-autoselect="true"
                    md-escape-options="clear"
                    md-require-match=""
                    md-floating-label="School"
                    ng-trim="true"
                    required>
                    <md-item-template>
                      <span md-highlight-text="ac.search_school" md-highlight-flags="^i">{{school.school_name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No states matching "{{ac.search_school}}" were found.
                    </md-not-found>
                  </md-autocomplete>
                  <md-autocomplete flex
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="false"
                    md-selected-item="ac.course"
                    md-search-text="ac.search_course"
                    md-delay="500"
                    md-selected-item-change="ac.selectedCourseChange(course)"
                    md-items="course in ac.courseSearchQuery(ac.search_course)"
                    md-item-text="course.course"
                    md-autoselect="true"
                    md-escape-options="clear"
                    md-require-match=""
                    md-floating-label="Course"
                    ng-trim="true"
                    required>
                    <md-item-template>
                      <span md-highlight-text="ac.search_course" md-highlight-flags="^i">{{course.course}}</span>
                    </md-item-template>
                    <md-not-found>
                      No address matching "{{ac.search_course}}" were found.
                    </md-not-found>
                  </md-autocomplete>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <md-input-container flex>
                    <label>Year level.</label>
                    <md-select ng-model="ac.year_level" required>
                      <md-option ng-repeat="yl in ac.year_levels" ng-value="yl.value"><em>{{ yl.display }}</em></md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="30">
                    <label>section</label>
                    <input ng-model="ac.section" required>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="30" required>
                    <label>ID NO.</label>
                    <input ng-model="ac.student_id_number" required>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10" required>
                    <label>IP.</label>
                    <md-select ng-model="ac.IP" required>
                      <md-option ng-repeat="ip_option in ac.IP_list" ng-value="ip_option"><em>{{ ip_option }}</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
            </md-card-content>
          </md-card>
          <md-card style="margin: 5px 0px;">
            <md-card-content style="padding: 20px 25px 0px;">
              <p>Father's Details</p>
              <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                <md-autocomplete flex
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="false"
                  md-selected-item="ac.father"
                  md-search-text="ac.search_flastname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedFatherDetailsChange(fdetails)"
                  md-items="fdetails in ac.fatherSearchQuery(ac.search_flastname)"
                  md-item-text="fdetails.lastname"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Lastname"
                  ng-trim="true"
                  accept-only-letters>
                  <md-item-template>
                    <span md-highlight-text="ac.search_flastname">{{fdetails.lastname}}, {{fdetails.firstname}} {{fdetails.middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_flastname}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex>
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.f_firstname" accept-only-letters >
                </md-input-container>
                <md-input-container flex>
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.f_middlename" accept-only-letters>
                </md-input-container>
                <md-input-container flex-gt-md="7">
                  <label>Suffix</label>
                  <md-select ng-model="ac.father_suffix" required>
                    <md-option value="NONE">NONE</md-option>
                    <md-option ng-repeat="suff in ac.suffix_list" ng-value="suff.suffix"><em>{{suff.suffix}}</em></md-option>
                  </md-select>
                </md-input-container>
              </div>    
              <p>Mother's Details</p>
              <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                <md-autocomplete flex 
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="false"
                  md-selected-item="ac.mother"
                  md-search-text="ac.search_maidenname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedMotherDetailsChange(mdetails)"
                  md-items="mdetails in ac.motherSearchQuery(ac.search_maidenname)"
                  md-item-text="mdetails.maiden_name"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Maiden name"
                  ng-trim="true"
                  accept-only-letters
                  required>
                  <md-item-template>
                    <span md-highlight-text="ac.search_maidenname">{{mdetails.maiden_name}}, {{mdetails.firstname}} {{mdetails.middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_school}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex>
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.m_firstname" accept-only-letters  required>
                </md-input-container>
                <md-input-container flex>
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.m_middlename" accept-only-letters >
                </md-input-container>
              </div>
            </md-card-content>
            <div style="width: 100%;text-align: right;padding-bottom: 10px;">
              <md-button class="md-raised md-primary" ng-click="ac.saveNewUndergraduateDetails()" ng-disabled="!ac.scholar_details.$valid || ac.saving">{{ ac.saving ? 'Saving...' : 'Save' }}</md-button>
              <md-button class="md-raised" ng-click="ac.clear()" ng-disabled="ac.saving">Clear</md-button>
            </div>
          </md-card>
        </div>
        </form>
      </div>
    </section>
  </div>
</div>
<edit-scholar scholar="ac.scholar_to_edit"></edit-scholar>