<md-dialog aria-label="List dialog" style="width: 27%;border: 1px solid #e2d2d2;box-shadow: 1px 0 5px rgba(0,0,0,.1);">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="as.closeDialog()">
          <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content>
    <div layout="column" style="padding: 10px 27px 20px 17px; min-height: 200px;margin: 25px 0px;">
      <md-input-container>
        <md-icon class="material-icons">roofing</md-icon>
        <label>School name</label>
        <input type="text" ng-model="as.school_name" required>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions >
    <md-button class="md-primary" ng-click="as.save()" ng-disabled="as.saving">{{ as.saveBtnText }}</md-button>
    <md-button class="md-accent" ng-click="as.closeDialog()">Close</md-button>
  </md-dialog-actions>
</md-dialog>