<ng-include src="'src/views/header.html'"></ng-include> 
<div style="font-size: 14px;" class="fading">
  <!-- <md-content> -->
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">groups</md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Undergraduate</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">save</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Save
                  <span class="md-alt-text">Ctrl-S</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Clear
                  <span class="md-alt-text">Ctrl-E</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View list
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">person</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Addresses
                  <span class="md-alt-text">Ctrl-B</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">account_balance</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Schools
                  <span class="md-alt-text">Ctrl-M</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">business</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Courses
                  <span class="md-alt-text">Ctrl-D</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">save</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Maximize
                  <span class="md-alt-text">F11</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">clear_all</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Minimize
                  <span class="md-alt-text">Ctrl-N</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <div layout="column">
    <section layout="row" layout-xs="column" layout-gt-xs="column" layout-gt-sm="row">
      <div layout="row" layout-xs="column" style="background-color: #fff; border-right: 1px solid #c7c7c7;min-width: 340px;" >
        <md-content flex layout-padding style="height: 100%;background-color: #fff; padding: 0px;;">
          <md-list flex>
            <md-input-container style="width: 100%;margin: 25px 0px 0px 0px;height: 40px;">
              <label>Search</label>
              <input type="text" ng-model="ac.scholar_lastname" style="text-transform: uppercase;">
            </md-input-container>
            <md-subheader class="md-no-sticky">Udergraduate list</md-subheader>
            <div style="overflow-y: auto;" ng-style="resizeList()" resize-md-list>
            <div layout="row" layout-sm="column" layout-align="space-around" style="margin-top: 10px;" ng-if="!ac.scholars_loaded">
              <md-progress-circular md-diameter="25px"></md-progress-circular>
            </div>
              <md-list-item class="md-2-line" ng-repeat="scholar in ac.scholars track by $index" ng-if="ac.scholars_loaded">
                <img ng-src="{{ scholar.photo | checkScholarPhoto }}" class="md-avatar scholar-image" alt="" />
                <div class="md-list-item-text" style="max-width: 210px;">
                  <h4 style="margin: 0px;color: black;">{{scholar.lastname}},&nbsp;{{scholar.firstname}}&nbsp;{{scholar.middlename}}.</h4>
                  <p style="font-size: 12px;">{{ scholar.school.school_name }} - {{ scholar.degree }}</p>
                </div>
                <span ng-if="$index===ac.selectedIndex" style="margin: 7px 0px;">opening..</span>
                <md-menu ng-if="$index!==ac.selectedIndex">
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)" style="padding: 0px;margin: 0;">
                    <md-icon class="material-icons" >more_horiz</md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="ac.edit(scholar)">
                        Edit
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="ac.print(scholar, $index)">
                        Print
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-list-item>
            </div>
          </md-list>
        </md-content>
      </div>
      <div flex layout-padding style="background: #efefef;overflow-y: auto;border-top: 1px solid #c7c7c7;" ng-style="resize()" resize-add-scholars-div>
        <h3 ng-if="!ac.has_semester">Contract closed.</h3>
        <div ng-if="ac.has_semester" class="fading-up">
          <md-card style="margin: 0px;">
            <md-card-header style="padding: 22px 25px 0px;">
              <md-card-avatar>
                <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">groups</md-icon>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">Details</span>
                <span class="md-subhead">Undergraduate</span>
              </md-card-header-text>
              <md-card-header-text style="text-align: right;">
                <span class="md-subhead" style="color: #008300;">AY - {{ ac.academic_year }}</span>
                <span class="md-subhead">{{ ac.semester }}</span>
              </md-card-header-text>
            </md-card-header>
            <md-card-content style="padding: 0px 30px;" >
              <form name="primary_details">
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                    <md-input-container flex>
                      <label>Firstname</label>
                      <input type="text" ng-model="ac.firstname" autocomplete="off">
                    </md-input-container>
                    <md-input-container flex>
                      <label>Lastname</label>
                      <input type="text" ng-model="ac.lastname" >
                    </md-input-container>
                    <md-input-container flex>
                      <label>Middlename</label>
                      <input type="text" ng-model="ac.middlename">
                    </md-input-container>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <div style="display: flex;width: 100%;position: relative;">
                    <md-autocomplete flex
                      md-input-name="autocompleteField"
                      md-input-minlength="1"
                      md-no-cache="ac.noCache"
                      md-selected-item="ac.address"
                      md-search-text="ac.search_address"
                      md-delay="500"
                      md-selected-item-change="ac.selectedAddressChange(address)"
                      md-items="address in ac.addressSearchQuery(ac.search_address)"
                      md-item-text="address.address"
                      md-autoselect="true"
                      md-escape-options="clear"
                      md-require-match=""
                      md-floating-label="Address">
                      <md-item-template>
                        <span md-highlight-text="ac.search_address" md-highlight-flags="^i">{{address.address}}</span>
                      </md-item-template>
                      <md-not-found>
                        No address matching "{{ac.search_address}}" were found.
                      </md-not-found>
                    </md-autocomplete>
                  </div>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="20">
                    <label>Date of Birth</label>
                    <input type="text" ng-model="ac.date_of_birth" ng-change="ac.selectedDateOfBirth(ac.date_of_birth)" minlength="10"add-double-slashes-directive autocomplete="off" />
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
                    <label>Age</label>
                    <input ng-model="ac.displayedAge" disabled>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="20">
                    <label>Gender</label>
                    <md-select ng-model="ac.gender">
                      <md-option value="Male"><em>Male</em></md-option>
                      <md-option value="Female"><em>Female</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <md-autocomplete flex
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="ac.noCache"
                    md-selected-item="ac.school"
                    md-search-text="ac.search_school"
                    md-delay="500"
                    md-selected-item-change="ac.selectedSchoolChange(school)"
                    md-items="school in ac.schoolSearchQuery(ac.search_school)"
                    md-item-text="school.school_name"
                    md-autoselect="true"
                    md-escape-options="clear"
                    md-require-match=""
                    md-floating-label="School">
                    <md-item-template>
                      <span md-highlight-text="ac.search_school" md-highlight-flags="^i">{{school.school_name}}</span>
                    </md-item-template>
                    <md-not-found>
                      No states matching "{{ac.search_school}}" were found.
                    </md-not-found>
                  </md-autocomplete>
                  <md-autocomplete flex
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="ac.noCache"
                    md-selected-item="ac.course"
                    md-search-text="ac.search_course"
                    md-delay="500"
                    md-selected-item-change="ac.selectedCourseChange(course)"
                    md-items="course in ac.courseSearchQuery(ac.search_course)"
                    md-item-text="course.course"
                    md-autoselect="true"
                    md-escape-options="clear"
                    md-require-match=""
                    md-floating-label="Course">
                    <md-item-template>
                      <span md-highlight-text="ac.search_course" md-highlight-flags="^i">{{course.course}}</span>
                    </md-item-template>
                    <md-not-found>
                      No address matching "{{ac.search_course}}" were found.
                    </md-not-found>
                  </md-autocomplete>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15">
                    <label>section</label>
                    <input ng-model="ac.section">
                  </md-input-container>
                </div>
                <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                  <md-input-container flex>
                    <label>Year level.</label>
                    <md-select ng-model="ac.year_level">
                      <md-option value="I"><em>1st year</em></md-option>
                      <md-option value="II"><em>2nd year</em></md-option>
                      <md-option value="III"><em>3rd year</em></md-option>
                      <md-option value="IV"><em>4th year</em></md-option>
                      <md-option value="V"><em>5th year</em></md-option>
                      <md-option value="VI"><em>6th year</em></md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="30">
                    <label>ID NO.</label>
                    <input ng-model="ac.student_id_number">
                  </md-input-container>
                  <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="20">
                    <label>IP.</label>
                    <md-select ng-model="ac.IP">
                      <md-option value="YES"><em>YES</em></md-option>
                      <md-option value="NO"><em>NO</em></md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </form>
            </md-card-content>
          </md-card>
          <md-card style="margin: 5px 0px;">
            <md-card-content style="padding: 20px 25px 0px;">
              <p>Father's Details</p>
              <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                <md-autocomplete flex
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="ac.noCache"
                  md-selected-item="ac.father"
                  md-search-text="ac.search_flastname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedFatherDetailsChange(fdetails)"
                  md-items="fdetails in ac.fatherSearchQuery(ac.search_flastname)"
                  md-item-text="fdetails.lastname"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Lastname">
                  <md-item-template>
                    <span md-highlight-text="ac.search_flastname">{{fdetails.lastname}}, {{fdetails.firstname}} {{fdetails.middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_flastname}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex>
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.f_firstname" >
                </md-input-container>
                <md-input-container flex>
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.f_middlename" >
                </md-input-container>
              </div>    
              <p>Mother's Details</p>
              <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
                <md-autocomplete flex 
                  md-input-name="autocompleteField"
                  md-input-minlength="2"
                  md-no-cache="ac.noCache"
                  md-selected-item="ac.mother"
                  md-search-text="ac.search_maidenname"
                  md-delay="500"
                  md-selected-item-change="ac.selectedMotherDetailsChange(mdetails)"
                  md-items="mdetails in ac.motherSearchQuery(ac.search_maidenname)"
                  md-item-text="mdetails.lastname"
                  md-autoselect="true"
                  md-escape-options="clear"
                  md-floating-label="Maiden name">
                  <md-item-template>
                    <span md-highlight-text="ac.search_maidenname">{{mdetails.lastname}}, {{mdetails.firstname}} {{mdetails.middlename}}</span>
                  </md-item-template>
                  <md-not-found>
                    No records matching "{{ac.search_school}}" were found.
                  </md-not-found>
                </md-autocomplete>
                <md-input-container flex>
                  <label>Firstname</label>
                  <input type="text" ng-model="ac.m_firstname" >
                </md-input-container>
                <md-input-container flex>
                  <label>Middlename</label>
                  <input type="text" ng-model="ac.m_middlename" >
                </md-input-container>
              </div>
            </md-card-content>
            <div style="width: 100%;text-align: right;">
              <md-button class="md-raised md-primary" ng-click="ac.saveNewUndergraduateDetails()" ng-disabled="ac.saving">{{ ac.buttonText }}</md-button>
              <md-button class="md-raised" ng-click="ac.clear()">Clear</md-button>
            </div>
          </md-card>  
        </div>
      </div>
    </section>
  </div>
<!-- </md-content> -->
</div>
<edit-scholar scholar="ac.scholar_to_edit"></edit-scholar>