<ng-include src="'/header.html'"></ng-include> 
<div style="font-size: 14px;">
  <md-toolbar class="md-menu-toolbar" style="box-shadow: 1px 0 5px rgba(0,0,0,.1);">
    <div layout="row" style="min-height: 64px;">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">location_on</md-icon>
      </md-toolbar-filler>
      <h2 class="md-toolbar-tools" style="padding: 20px;">
        <span>Address</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="column">
    <div layout="row">
      <div flex="0" flex-gt-sm="25"></div>
      <div flex class="fading-up">
          <br />
          <div>
            <md-progress-linear md-mode="indeterminate" ng-if="!ad.address_list_loaded"></md-progress-linear>
          </div>
          <md-content flex layout-padding style="height: 100%;background-color: #fff; padding: 0px;" class="md-whiteframe-1dp"  ng-if="!s.editing_state">
              <md-list>
                <div>
                  <md-button class="md-fab md-mini md-primary" ng-click="ad.add($event)" ng-if="!s.disable_linear_loader" style="float: right;">
                    <md-icon class="material-icons">add</md-icon>
                  </md-button>
                </div>
                <div style="padding: 0px 15px;">
                  <md-input-container style="width: 50%;margin: 25px 0px 0px 0px;height: 40px;">
                    <label>Search</label>
                    <input type="text" ng-model="ad.searched_address" style="text-transform: uppercase;" autocomplete="off">
                    <md-progress-circular class="md-hue-2" md-diameter="15px" style="position: absolute;right: 0px;top: 10px;" ng-if="ad.searching"></md-progress-circular>
                  </md-input-container>
                </div>
                <md-subheader class="md-no-sticky">List of Addresses</md-subheader>
                <md-content flex style="height: 100%;background-color: #fff;" >
                    <div style="max-height: 300px;min-height: 300px;overflow: auto;">
                      <md-list-item ng-repeat="address in ad.addresses track by $index">
                        <div style="display: flex;width: 100%">
                          <div flex style="margin-right: 10px;">
                            <p>{{ $index+1 }}.</p>
                          </div>
                          <div flex="50">
                            <p>{{ address.address }}</p>
                          </div>
                          <div flex="50">
                            <p>{{ address.municipality }}</p>
                          </div>
                        </div>
                       <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-click="ad.edit(address)">
                          <md-tooltip>Edit</md-tooltip>
                          edit
                        </md-icon>
                        <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;">
                          <md-tooltip>Delete</md-tooltip>
                          close
                        </md-icon>
                      </md-list-item>
                    </div>
                </md-content>
            </md-list>
          </md-content>
      </div>
      <div flex="0" flex-gt-sm="25"></div>
    </div>
  </div>
</div>
<ng-include src="'/add_update_address.html'"></ng-include>