<div id="cover-spin" ng-if="c.show_spinner" ></div>
<ng-include src="'src/views/header.html'"></ng-include> 
<div style="font-size: 14px;">
  <md-toolbar class="md-menu-toolbar" style="border-bottom: 1px solid #c7c7c7;">
    <div layout="row" style="min-height: 64px;">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">history_edu</md-icon>
      </md-toolbar-filler>
      <h2 class="md-toolbar-tools" style="padding: 20px;">
        <span>Contract</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="column">
    <div layout="row">
      <div flex="15"></div>
      <div flex="">
          <br />
          <div layout="column">
            <section layout="row" flex layout-xs="column">
              <div flex="70" layout-xs="column" style="background-color: #fff; border-right: 1px solid #c7c7c7;;border: 1px solid #c7c7c7;">
                <md-content flex style="height: 100%;background-color: #fff; padding: 8px;" class="container" >
                    <div style="max-height: 475px;min-height: 475px;overflow: auto;border: 1px solid rgb(176, 177, 179);" class="container" fixed-column-table>
                      <div>
                        <md-progress-linear md-mode="indeterminate" ng-if="!c.disable_linear_loader"></md-progress-linear>
                      </div>
                      <table>
                        <thead style="background: #dddddd;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);">
                          <tr>
                            <th style="background-color: #dddddd;"><span>No.</span></th>
                            <th style="background-color: #dddddd;"><span>Semester/Academic yea</span></th>
                            <th style="background-color: #dddddd;"><span>State</span></th>
                            <th style="background-color: #dddddd;"><span>Contract amount</span></th>
                            <th style="background-color: #dddddd;"><span>Date created</span></th>
                            <th style="background-color: #dddddd;"><span>Date updated</span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="ay in c.academic_year_sem track by $index">
                            <td style="background-color: #f6c08e;">{{ $index+1 }}.</td>
                            <td>
                              <span>{{ ay.semester }} - {{ ay.academic_year }}</span>
                            </td>
                            <td><span color-contract={{ay.state}}>{{ ay.state }}</span></td>
                            <td>
                              <span>{{ ay.amount | currency : '' : 0}}</span>
                            </td>
                            <td><span>{{ ay.created_at | formatDate }}</span></td>
                            <td style="display: flex;align-items: center;">
                              <span style="margin-right: 20px;">{{ ay.updated_at | formatDate }}</span>
                              <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-click="c.setContract(ay)" ng-if="ay.state === 'Available'">
                                <md-tooltip>Set as Contract.</md-tooltip>
                                system_update
                              </md-icon>
                              <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-click="c.edit(ay)" ng-if="ay.state !== 'Closed'">
                                <md-tooltip>Edit</md-tooltip>
                                edit
                              </md-icon>
                              <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-if="ay.state === 'Available'">
                                <md-tooltip>Delete</md-tooltip>
                                close
                              </md-icon>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </md-content>
              </div>
              <div flex="" layout-padding style="background: #efefef;border: 1px solid #c7c7c7;position: relative;" >
                <div>
                <md-button class="md-fab md-mini md-primary" ng-click="c.add()" style="position: absolute;top: 0;right: 0;">
                  <md-icon class="material-icons">add</md-icon>
                </md-button>
                  <md-card style="margin: 5px 0px;">
                    <md-card-header style="padding-bottom: 0px !important;">
                      <md-card-header-text>
                        <span class="md-title">Contract</span>
                        <span class="md-subhead" style="font-size: 12px;">
                          Details
                        </span>
                      </md-card-header-text>
                    </md-card-header>
                    <md-card-content style="padding: 16px; font-size: 13px;">
                      <div layout="row" layout-sm="column" layout-align="space-around" style="margin: 20px 0px;" ng-if="!c.not_in_progress">
                        <md-progress-circular md-diameter="25px"></md-progress-circular>
                      </div>
                      <div ng-if="c.not_in_progress && !c.contract_loaded" >
                        <p style="text-align: center;">Contract not set.</p>
                        <p style="text-align: center; font-size: 12px;">please create and set contract to start.</p>
                        <br />
                      </div>
                      <div class="demo-md-panel-content" ng-repeat="contract in c.contract_details" ng-if="c.contract_loaded">

                        <p>
                          State: 
                          &nbsp;
                          <span  color-contract={{c.contract_status}}>{{ c.contract_status }}</span>
                        </p>
                        <p>
                          Semester: 
                          &nbsp;
                          <span style="background: #48d448;color: #ffff;padding: 2px 5px;border-radius: 3pt;">{{ contract.academic_year_semester.semester }}</span>
                        </p>
                        <p>
                          Academic year:
                          &nbsp;
                          <span style="background: #d641b7;color: #ffff;padding: 2px 5px;border-radius: 3pt;">{{ contract.academic_year_semester.academic_year }}</span>
                        </p>
                        <p>
                          <span style="color: rgb(17 207 38);">Date started:</span>
                        </p>
                        <p>{{ contract.created_at | formatDate }}</p>
                        <p>
                          <span style="color:rgb(104 125 220)">Date Updated:</span>
                        </p>
                        <p> 
                          <span>{{ contract.updated_at | formatDate }}</span>
                        </p>
                      </div>
                      <div style="margin: 3em 0px 1.5em;" ng-if="c.contract_loaded">
                        <md-button class="md-raised md-primary" ng-click="c.updateContract()" style="width: 100%;margin: 10px 0px !important;">Update</md-button>
                        <md-button class="md-accent md-raised" ng-click="c.openContract()" ng-if="c.showOpenContractBtn" style="width: 100%;margin: 10px 0px !important;color: #ffff;">Open contract</md-button>
                        <md-button class="md-raised md-warn" ng-click="c.closeContract()" ng-if="!c.showOpenContractBtn" style="width: 100%;margin: 0px !important;color: #ffff;">Close contract</md-button>
                      </div>
                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </section>
          </div>
      </div>
      <div flex="15"></div>
    </div>
    <br />
  </div>
</div>
<ng-include src="'src/views/add_update_contract.html'"></ng-include>

