<ng-include src="'/header.html'"></ng-include> 
<div class="demo-md-panel-content" >
  <md-toolbar class="md-menu-toolbar dashboard-toolbar">
    <div layout="row">
      <md-toolbar-filler>
        <md-icon class="material-icons">home</md-icon>
      </md-toolbar-filler>
      <h2 class="md-toolbar-tools">
        <span>Dashboard</span>
      </h2>
    </div>
  </md-toolbar>
	<div layout-xs="column" layout-gt-xs="column" layout-gt-sm="row" class="fading-up dashboard-container">
	  <div flex-xs="100" flex-sm="100" flex-gt-md="25">
	  	<div layout="column" class="dashboard">
	  		<div flex>
	            <div class="card">
	                <div class="card-body">
	                    <div>
	                    	<div>Total</div>
	                    	<div>Undergraduate</div>
	                    </div>
	                    <div>
	                    	<span>{{ dc.undergraduate_total | currency : '' : 0 }}</span>
	                    </div>
	                </div>
	            </div>
	  		</div>
	  		<div flex>
	            <div class="card">
	                <div class="card-body">
	                    <div>
	                    	<div>Total</div>
	                    	<div>Master's</div>
	                    </div>
	                    <div>
	                    	<span>{{ dc.masters_total | currency : '' : 0 }}</span>
	                    </div>
	                </div>
	            </div>
	  		</div>
	  		<div flex>
	            <div class="card">
	                <div class="card-body">
	                    <div>
	                    	<div>Total</div>
	                    	<div>Doctorate</div>
	                    </div>
	                    <div>
	                    	<span>{{ dc.doctorate_total | currency : '' : 0 }}</span>
	                    </div>
	                </div>
	            </div>
	  		</div>
 	  		<div flex class="statuses">
	            <div class="card">
	                <div class="card-header" style="">Statuses</div>
	                <div class="card-body">
						<canvas id="base" class="chart-horizontal-bar" chart-data="dc.degree" chart-series="dc.series" chart-labels="dc.degree_labels" chart-options="dc.options" chart-dataset-override="dc.datasetOverride">chart-series="series" ></canvas>
	                </div>
	            </div>
  			</div>
	  		<div flex class="degree">
	            <div class="card" ng-repeat="status in dc.contract_status">
	                <div class="card-header">
	                	<span color-degree degree={{status.degree}}>{{ status.degree }}</span>
	                </div>
	                <div class="card-body">
					  <md-list-item class="secondary-button-padding">
					    <p>
					    	<span>Pre-Approved</span>
					    </p>
					    <span  color-contract-status="Pre-Approved">{{ status.pre_approved | currency : '' : 0 }}</span>
					  </md-list-item>
					  <md-list-item class="secondary-button-padding">
					    <p>
					    	<span>Approved</span>
					    </p>
					    <span color-contract-status="Approved">{{ status.approved | currency : '' : 0 }}</span>
					  </md-list-item>
					  <md-list-item class="secondary-button-padding">
					    <p>
					    	<span>Pending</span>
					    </p>
					    <span color-contract-status="Pending">{{ status.pending | currency : '' : 0 }}</span>
					  </md-list-item>
					  <md-list-item class="secondary-button-padding">
					    <p>
					    	<span>In-Active</span>
					    </p>
					    <span color-contract-status="In-Active">{{ status.in_active | currency : '' : 0 }}</span>
					  </md-list-item>
	                </div>
	            </div>
	  		</div>
	  	</div>
	  	<br />
	  </div>
	  <div flex-xs="100" flex-sm="100" flex-gt-md="75">
		<div layout="column" class="graph-holder">
		  <div flex>
            <div class="card">
                <div class="card-header">Undergraduate</div>
                <div class="card-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="dc.undergraduate" chart-series="dc.series" chart-labels="dc.undergraduate_labels" chart-options="dc.options" chart-dataset-override="dc.datasetOverride" ></canvas>
                </div>
            </div>
		  </div>
		  <div flex>
            <div class="card">
                <div class="card-header">Master's/Doctorate</div>
                <div class="card-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="dc.masteral_doctorate" chart-series="dc.series" chart-labels="dc.masteral_doctorate_labels" chart-options="dc.options" chart-dataset-override="dc.datasetOverride"> chart-series="series" ></canvas>
                </div>
            </div>
		  </div>
		</div>
		<br />
	  </div>
	</div>
</div>
