<ng-include src="'src/views/header.html'"></ng-include> 
<div class="demo-md-panel-content">
	<div layout="row">
		<div flex="20">

		</div>
		<div flex="70">
			<canvas id="bar" class="chart chart-bar" chart-data="undergraduate" chart-series="undergraduate_series" chart-labels="labels" chart-options="options"> chart-series="series" ></canvas>
			<canvas id="bar" class="chart chart-bar" chart-data="masteral_doctorate" chart-series="masteral_doctorate_series" chart-labels="labels" chart-options="options"> chart-series="series" ></canvas>
		</div>
	</div>
</div>
