<md-sidenav class="md-sidenav-right" md-component-id="editScholar" md-whiteframe="5" md-disable-close-events style="min-width: 70%;position: fixed;">
  <md-toolbar class="md-theme-light" style="min-height: 35px;max-height: 35px;">
    <md-icon class="material-icons" ng-click="ec.close()" style="position: absolute;left: 7px;top: 5px; cursor: pointer; background-color: #616dc3;">close</md-icon>
  </md-toolbar>
  <md-content layout-padding style="background-color: #efefef;font-size: 12px;">
    <md-card style="margin: 0px; padding: 12px;">
      <md-card-header style="padding: 15px 17px 15px;">
        <md-card-avatar>
          <md-icon class="material-icons" style="margin-right: 15px; background-color: #616dc3;">{{ ec.icon }}</md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">Details</span>
          <span class="md-subhead">{{ ec.degree }}</span>
        </md-card-header-text>
        <md-card-header-text flex-xs="100" flex-sm="100" flex-gt-md="40">
          <div layout="row">
            <div flex style="display: flex;justify-content: flex-end;">
              <md-input-container flex style="margin-bottom: 0px;" ng-if="ec.degree !== 'Undergraduate'">
                <label>Select degree</label>
                <md-select ng-model="ec.degree" ng-disabled="!ec.primary_details" >
                  <md-option value="Masters"><em>Masters</em></md-option>
                  <md-option value="Doctorate"><em>Doctorate</em></md-option>
                </md-select>
              </md-input-container>
            </div>
            <div flex-xs="100" flex-sm="100" flex-gt-md="35" style="display: flex;justify-content: flex-end;">
              <div layout="column"style="text-align: right;">
                <span class="md-subhead" style="color: #008300;">AY - {{ ec.academicyear_semester_contract.academic_year }}</span>
                <span class="md-subhead">{{ ec.academicyear_semester_contract.semester }}</span> 
              </div>
            </div>
          </div>
        </md-card-header-text>
      </md-card-header>
      <md-card-content style="padding: 0px 16px;" >
        <form name="ec.primaryDetailsForm">
          <div layout="row" layout-xs="column" style="margin-bottom: 15px;">
              <div flex="13" class="image-holder">
                <div class="file-input">
                  <button ng-click="ec.editPhoto()">edit</button>
                </div>
                <div layout="column" class="file-image">
                  <img ng-src="{{ ec.photo | checkScholarPhoto }}" style="border-radius: 1em;">
                </div>
              </div>
              <md-input-container flex="" style="margin-top: 50px;margin-bottom: 0px;">
                <label>Firstname</label>
                <input type="text" ng-model="ec.firstname" uppercase ng-disabled="!ec.primary_details" required>
              </md-input-container>
              <md-input-container flex=""  style="margin-top: 50px;margin-bottom: 0px;">
                <label>Lastname</label>
                <input ng-model="ec.lastname" uppercase ng-disabled="!ec.primary_details" required>
              </md-input-container>
              <md-input-container flex=""  style="margin-top: 50px;margin-bottom: 0px;">
                <label>Middlename</label>
                <input ng-model="ec.middlename" uppercase ng-disabled="!ec.primary_details">
              </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
            <md-input-container flex-gt-md="7">
              <label>Suffix</label>
              <md-select ng-model="ec.suffix" ng-disabled="!ec.primary_details" required>
                <md-option value="NONE">NONE</md-option>
                <md-option ng-repeat="suff in ec.suffix_list" ng-value="suff.suffix"><em>{{suff.suffix}}</em></md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>Address</label>
              <input ng-model="ec.newaddress" ng-click="ec.showAddressModal()" ng-disabled="!ec.primary_details" disable-input required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
              <label>Date of Birth</label>
              <input type="text" name="date_of_birth" ng-model="ec.date_of_birth" add-double-slashes-directive ng-disabled="!ec.primary_details"/>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
              <label>Age</label>
              <input ng-model="ec.displayedAge" disabled required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
              <label>Gender</label>
              <md-select ng-model="ec.gender" ng-disabled="!ec.primary_details" required>
                <md-option ng-repeat="gender in ec.gender_list" ng-value="gender"><em>{{gender}}</em></md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
            <md-input-container flex>
              <label>School</label>
              <input ng-model="ec.school_name" ng-click="ec.showSchoolModal()" ng-disabled="!ec.primary_details" disable-input required>
            </md-input-container>
            <md-input-container flex>
              <label>Course</label>
              <input ng-model="ec.course" ng-click="ec.showCourseModal()" ng-disabled="!ec.primary_details" disable-input required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15">
              <label>Civil status</label>
              <md-select ng-model="ec.civil_status" ng-disabled="!ec.primary_details" required>
                <md-option ng-repeat="civil_status in ec.civil_status_list" ng-value="civil_status"><em>{{ civil_status }}</em></md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
            <md-input-container flex>
              <label>Year level.</label>
              <md-select ng-model="ec.year_level" ng-disabled="!ec.primary_details" required>
                <md-option ng-repeat="yl in ec.year_levels" ng-value="yl.value"><em>{{ yl.display }}</em></md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15">
              <label>section</label>
              <input ng-model="ec.section" uppercase ng-disabled="!ec.primary_details" required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="30">
              <label>ID NO.</label>
              <input ng-model="ec.student_id_number" uppercase ng-disabled="!ec.primary_details" required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10">
              <label>IP.</label>
              <md-select ng-model="ec.IP" ng-disabled="!ec.primary_details" required>
                <md-option ng-repeat="ip_option in ec.IP_list" ng-value="ip_option"><em>{{ ip_option }}</em></md-option>
              </md-select>
            </md-input-container>
          </div>
      </md-card-content>
      <div style="width: 100%;text-align: right;">
        <md-button class="md-raised md-primary" ng-click="ec.updateScholarPrimaryDetails()" ng-if="ec.primary_details" ng-disabled="ec.primaryDetailsForm.$invalid || !ec.primaryDetailsForm.$dirty || ec.updatingPrimaryDetails">{{ ec.primaryButtonText }}</md-button>
        <md-button class="md-raised" ng-click="ec.enableDisablePrimaryDetails()">{{ ec.enablePrimaryButtonText }}</md-button>
      </div>
    </form>
    </md-card>
    <md-card style="margin: 5px 0px;">
      <md-card-content style="padding: 15px 16px 0px 16px;">
        <form name="ec.parentsDetailsForm">
          <p>Father's Details</p>
          <div layout="row" layout-xs="column">
            <md-autocomplete flex class="uppercase"
              md-input-name="autocompleteFatherLastname"
              required="true"
              md-input-minlength="1"
              md-no-cache="ec.noCache"
              md-selected-item="ec.father"
              md-search-text="ec.search_flastname"
              md-delay="500"
              md-selected-item-change="ec.selectedFatherDetailsChange(fdetails)"
              md-items="fdetails in ec.fatherSearchQuery(ec.search_flastname)"
              md-item-text="fdetails.lastname"
              md-escape-options="clear"
              md-floating-label="Lastname" ng-disabled="!ec.parents_details">
              <md-item-template>
                <span md-highlight-text="ec.search_flastname">{{fdetails.lastname}}, {{fdetails.firstname}}{{fdetails.middlename}}</span>
              </md-item-template>
              <md-not-found>
                No records matching "{{ec.search_school}}" were found.
              </md-not-found>
            </md-autocomplete>
            <md-input-container flex="">
              <label>Firstname</label>
              <input type="text" ng-model="ec.f_firstname" uppercase ng-disabled="!ec.parents_details" required>
            </md-input-container>
            <md-input-container flex="">
              <label>Middlename</label>
              <input type="text" ng-model="ec.f_middlename" uppercase ng-disabled="!ec.parents_details">
            </md-input-container>
          </div> 
          <div layout="row" layout-xs="column">
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="7">
              <label>Suffix</label>
              <md-select ng-model="ec.father_suffix" ng-disabled="!ec.parents_details" required>
                <md-option value="NONE">NONE</md-option>
                <md-option ng-repeat="suff in ec.suffix_list" ng-value="suff.suffix"><em>{{suff.suffix}}</em></md-option>
              </md-select>
            </md-input-container>
             <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="50">
              <label>Occupation</label>
              <input type="text" ng-model="ec.f_occupation" uppercase ng-disabled="!ec.parents_details">
            </md-input-container>         
          </div>
          <p>Mother's Details</p>
          <div layout="row" layout-xs="column">
            <md-autocomplete flex class="uppercase"
              md-input-name="autocompleteMotherMaiden"
              required="true"
              md-input-minlength="1"
              md-no-cache="ec.noCache"
              md-selected-item="ec.mother"
              md-search-text="ec.search_maidenname"
              md-delay="500"
              md-selected-item-change="ec.selectedMotherDetailsChange(mdetails)"
              md-items="mdetails in ec.motherSearchQuery(ec.search_maidenname)"
              md-item-text="mdetails.lastname"
              md-escape-options="clear"
              md-floating-label="Lastname" ng-disabled="!ec.parents_details">
              <md-item-template>
                <span md-highlight-text="ec.search_maidenname">{{mdetails.lastname}}, {{mdetails.firstname}}{{mdetails.middlename}}</span>
              </md-item-template>
              <md-not-found>
                No records matching "{{ec.search_school}}" were found.
              </md-not-found>
            </md-autocomplete>
            <md-input-container flex="">
              <label>Firstname</label>
              <input type="text" ng-model="ec.m_firstname" uppercase ng-disabled="!ec.parents_details" required>
            </md-input-container>
            <md-input-container flex="">
              <label>Middlename</label>
              <input type="text" ng-model="ec.m_middlename" uppercase ng-disabled="!ec.parents_details">
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column">
             <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="50">
              <label>Occupation</label>
              <input type="text" ng-model="ec.m_occupation" uppercase ng-disabled="!ec.parents_details">
            </md-input-container>         
          </div>
        </form>
      </md-card-content>
      <div style="width: 100%;text-align: right;">
        <md-button class="md-raised md-primary" ng-click="ec.updateScholarParentsDetails()" ng-if="ec.parents_details" ng-disabled="ec.parentsDetailsForm.$invalid || !ec.parentsDetailsForm.$dirty || ec.updatingParentsDetails">{{ ec.parentsButtonText }}</md-button>
        <md-button class="md-raised" ng-click="ec.enableDisableParentsDetails()">{{ ec.enableParentsButtonText }}</md-button>
      </div>
    </md-card>  
  </md-content>
</md-sidenav>

<edit-profile-photo ng-if="ec.editing"></edit-profile-photo>
<school-modal-directive></school-modal-directive>
<address-modal-directive></address-modal-directive>
<course-modal-directive></course-modal-directive>