<!-- <div id="cover-spin" ng-if="ex.show_spinner" ></div> -->
<ng-include src="'/header.html'"></ng-include> 
<div>
  <md-toolbar class="md-menu-toolbar" style="border-bottom: 1px solid #c7c7c7;">
    <div layout="row">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">exit_to_app</md-icon>
      </md-toolbar-filler>
      <div style="width: 50%;">
        <h2 class="md-toolbar-tools">Export scholars</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Export
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent" ng-if="ex.scholars_loaded">
                <md-icon class="material-icons">view_list</md-icon>
                <md-button ng-click="ex.exportMasterlist()">
                  Masterlist report
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent" ng-if="ex.scholars_loaded">
                <md-icon class="material-icons">sort</md-icon>
                <md-button ng-click="ex.exportNormal()">
                  Normal report
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent" ng-if="ex.scholars_loaded">
                <md-icon class="material-icons">file_download</md-icon>
                <md-button ng-click="ex.exportForDatabase()">
                  Export for database
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-if="!ex.scholars_loaded" style="position: absolute;"></md-progress-linear>
  <div layout="column" layout-xs="column" style="background-color: #fff; padding: 5px;">

    <div ui-grid="ex.gridOptions" 
          ui-grid-resize-columns 
          ui-grid-importer 
          ui-grid-exporter 
          ui-grid-auto-resize 
          ui-grid-pinning
          class="grid" ng-style="resizeDiv()" resize-div height="160">
    </div>
    
  </div>

</div>