<div layout="row" style="background-color: #fff;">
    <md-card flex style="margin: 0px;">
      <md-card-header style="padding-bottom: 0px !important;">
        <md-card-header-text>
            <span class="md-subhead">
                Governor details
            </span>
          </md-card-header-text>
      </md-card-header>
      <md-card-content flex ng-if="gov.governor_loaded">
        <form name="governorForm">
          <div layout-xs="column" layout-gt-xs="column" layout-gt-sm="column" layout-gt-md="row">
            <md-input-container flex style="margin: 17px 0px 0px 0px;">
              <label>Firstname</label>
              <input type="text" ng-model="gov.firstname" ng-disabled="!gov.enabled" accept-only-letters uppercase autocomplete="off" required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="5" style="margin: 17px 0px 0px 0px;">
              <label>Initial</label>
              <input type="text" ng-model="gov.initial" ng-disabled="!gov.enabled" prevent-paste uppercase required>
            </md-input-container>
            <md-input-container flex style="margin: 17px 0px 0px 0px;">
              <label>Lastname</label>
              <input type="text" ng-model="gov.lastname" ng-disabled="!gov.enabled" accept-only-letters uppercase autocomplete="off" required>
            </md-input-container>
            <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="10" style="margin: 17px 0px 0px 0px;">
              <label>Suffix</label>
              <input type="text" ng-model="gov.suffix" ng-disabled="!gov.enabled" accept-only-letters uppercase autocomplete="off">
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" ng-click="gov.updateGovernor()" ng-if="gov.enabled" ng-disabled="gov.updating || governorForm.$invalid" style="margin: 0px;">{{ gov.updating? 'Updating...' : 'Update' }}</md-button>
          <md-button class="md-raised" ng-click="gov.enableDisable()" ng-if="!gov.updating" style="margin: 0px;">{{ gov.enabled ? 'Disable' : 'Enable' }}</md-button>
        </form>
      </md-card-content>
    </md-card>
  </div>