<md-toolbar class="md-hue-2" class="padded" md-whiteframe="1" style="position: sticky; top: 0px;">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav()" ng-hide="isOpenRight()">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>

    <h2 flex md-truncate></h2>

    <label class="md-subhead">Dane Vincent Painaga</label>


    <md-menu md-position-mode="target-right target">
      <md-button aria-label="Open demo menu" class="md-icon-button"
                 ng-click="$mdMenu.open($event)">
        <md-icon class="material-icons">power_settings_new</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="ctrl.announceClick($index)"><span
              md-menu-align-target>Settings</span>
          </md-button>
        </md-menu-item>
        <md-menu-item >
          <md-button ng-click="ctrl.announceClick($index)"><span
              md-menu-align-target>Logout</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<ng-include src="'src/views/side_nav.html'"></ng-include> 