<md-sidenav class="md-sidenav-right" md-whiteframe="4" md-component-id="importScholars" style="max-width: 270px;">
  <md-toolbar class="md-theme-light" style="min-height: 35px;max-height: 35px;">
    <md-icon class="material-icons" ng-click="ic.close()" style="position: absolute;left: 7px;top: 5px; cursor: pointer; background-color: #616dc3;">close</md-icon>
  </md-toolbar>
  <md-content layout-padding style="font-size: 13px;">
    <div>
      <div style="margin: 5px 0px;" >
        <div style="padding: 0px 16px 16px 16px;">
          <div style="position: relative;" ng-style="resizeDiv()" resize-div height="195">
            <span class="md-title">Import</span>
            <form>
              <div layout="column" >
                <md-input-container flex="15">
                  <label>Degree</label>
                  <md-select ng-model="ic.degree" ng-disabled="ic.isChecking">
                    <md-option ng-value="degree" ng-repeat="degree in access_degree"><em>{{ degree }}</em></md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="20">
                  <label>Municipality</label>
                  <md-select ng-model="ic.municipality" ng-disabled="ic.isChecking">
                    <md-option ng-value="mun.municipality"  ng-repeat="mun in ic.municipalities"><em>{{ mun.municipality }}</em></md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div style="margin-top: 1.7em;" ng-if="ic.selection_complete" >
                <input type="file" accept=".xls,.xlsx, .csv,.ods" fileread="" state="ic.show_spinner" opts="ic.gridOptions" checking="ic.isChecking" message="ic.circular_message" multiple="false" style="outline-style: none;width: 100%;" ng-disabled="ic.isChecking"/>
              </div>
              <div style="margin-top: 50px; width: 100%;">
                <md-button class="md-raised md-primary" ng-click="ic.checkImportedScholars()" ng-if="!ic.isChecking && ic.gridOptions.data.length > 0" style="width: 100%;margin: 10px 0px !important;">Check</md-button>
                <md-button class="md-raised" ng-click="ic.cancel()" style="width: 100%;margin: 0px !important;" ng-if="ic.selection_complete">Cancel</md-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</md-sidenav>