<div style="width: 100%;background: #3f51b5;height: 3%;"></div>
<!-- <md-progress-linear md-mode="indeterminate" ng-if="logging_in"></md-progress-linear> -->
<md-content class="md-padding" layout-xs="column" layout="row"  style="display: flex; justify-content: center;font-size: 14px;height: 97%; ">
  <div flex-xs="100" flex-gt-xs="70" flex-gt-sm="50" flex-gt-md="30" layout="column">
    <md-card>
      <form ng-submit="lg.login()">
      	<div style="height: 200px;overflow: hidden; ">
      		<img src="images/03.jpg" class="md-card-image" alt="Washed Out" style="object-fit: cover;object-position: top;width: 100%;">
      	</div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" style="font-style: Cooper;">Sign in</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="column" >
              <md-input-container flex="">
                <label>Username</label>
                <md-icon class="material-icons">how_to_reg</md-icon>
                <input type="email" ng-model="lg.email">
              </md-input-container>
              <md-input-container flex="">
                <label>Password</label>
                <md-icon class="material-icons">lock</md-icon>
                <input type="password" ng-model="lg.password">
              </md-input-container>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit" class="md-raised md-primary" ng-disabled="lg.disableLogginBtn">{{ lg.buttonMessage }}</md-button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</md-content>