<div style="visibility: hidden">
  <div class="md-dialog-container" id="myStaticDialog">
    <md-dialog style="padding: 25px;">
      <div layout="column">
        <md-input-container flex>
          <label>Password</label>
          <input type="password" ng-model="password" accept-only-letters>
        </md-input-container>
        <div  style="display: flex; justify-content: space-evenly;">
          <md-button class="md-raised md-primary" ng-click="confirmAccess()" ng-disabled="disable_confirm">{{ ConfirmText }}</md-button>
          <md-button class="md-raised" ng-click="closeDialog()">close</md-button>
        </div>
      </div>
    </md-dialog>
  </div>
</div>