<div class="posting-message" ng-if="rc.show_spinner" >
  <div class="lds-ring">
    <span style="font-weight: 300;">Saving</span>
    <div></div><div></div><div></div><div></div>
  </div>
</div>
<ng-include src="'/header.html'"></ng-include> 
<div style="font-size: 14px;">
  <md-toolbar class="md-menu-toolbar" style="border-bottom: 1px solid #c7c7c7;">
    <div layout="row" style="min-height: 64px;">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">update</md-icon>
      </md-toolbar-filler>
      <h2 class="md-toolbar-tools" style="padding: 20px;">
        <span>Renew scholar's</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="column">
    <div layout="row">
      <div flex="0" flex-gt-sm="20"></div>
      <div flex class="fading-up">
        <section style="margin-top: 1em;">
          <ul class="custom-nav">
            <li>
              <a ng-class="{'active': rc.tabStatus === 'Pending'}" ng-click="rc.onSelectStatus('Pending')">Pending</a>
            </li>
            <li>
              <a ng-class="{'active': rc.tabStatus === 'In-Active'}" ng-click="rc.onSelectStatus('In-Active')">In-Active</a>
            </li>
            <li>
              <a ng-class="{'active': rc.tabStatus === 'Pre-Approved'}" ng-click="rc.onSelectStatus('Pre-Approved')">Pre-Approved</a>
            </li>
          </ul>
          <div layout="row" layout-xs="column">
            <md-content flex layout-padding>
              <md-list flex>
                <form name="rc.renewForm" novalidate ng-submit="rc.renewForm.$valid && rc.scholar_name && rc.onSubmit()">
                  <div style="display: flex;" layout-xs="row">
                      <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="15">
                        <label>Type</label>
                        <md-select ng-model="rc.searchType" required>
                          <md-option ng-value="type" ng-repeat="type in rc.type"><em>{{ type }}</em></md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="20">
                        <label>Select degree</label>
                        <md-select ng-model="rc.degree" required>
                          <md-option ng-value="degree" ng-repeat="degree in access_degree"><em>{{ degree }}</em></md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container flex-xs="100" flex-sm="100" flex-gt-md="65">
                        <label>Search</label>
                        <input type="text" ng-model="rc.scholar_name" ng-disabled="rc.renewForm.$invalid">
                        <md-progress-circular class="md-hue-2" md-diameter="15px" style="position: absolute;right: 0px;top: 10px;" ng-if="rc.searching"></md-progress-circular>
                      </md-input-container>
                      <div>
                        <button type="submit"
                          class="md-raised md-warn"
                          ng-disabled="rc.renewForm.$invalid || !rc.scholar_name || rc.searching"
                          style="color: #ffff;
                                padding: 5px;
                                background-color: rgb(63, 86, 221);
                                border: none;
                                border-radius: 3px;
                                margin: 23px 0px 0px 10px;">
                          Search
                        </button>
                      </div>
                  </div>
                </form>
                <md-subheader class="md-no-sticky">{{ rc.scholars.length > 0 ? rc.degree : 'Empty' }} list</md-subheader>
                <div class="renew-scholar-list">
                  <md-list-item class="md-2-line" style="margin-bottom: 10px;" ng-repeat="scholar in rc.scholars track by $index" >
                    <img ng-src="{{ scholar.photo | checkScholarPhoto }}" class="md-avatar scholar-image" alt="" />
                    <div class="md-list-item-text">
                      <h4>{{ scholar | formatName }}</h4>
                      <p>{{ scholar.school.school_name }} - {{ scholar.student_id_number }}, {{ scholar.degree }}</p>
                      <p><span color-contract-status="{{scholar.contract_status}}" style="font-size: 9px;">{{ scholar.contract_status }}</span></p>
                    </div>
                    <span ng-if="$index===rc.selectedIndex" style="margin: 7px 0px;">opening..</span>
                    <md-menu>
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)" style="padding: 0px;margin: 0;">
                        <md-icon class="material-icons" >more_horiz</md-icon>
                      </md-button>
                      <md-menu-content width="2">
                        <md-menu-item>
                          <md-button ng-click="rc.edit(scholar)">
                            Edit
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="scholar.contract_status !== 'Pre-Approved'">
                          <md-button ng-click="rc.renew(scholar, $index)">
                            Renew
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="scholar.contract_status === 'Pre-Approved'">
                          <md-button ng-click="rc.print(scholar, $index)">
                            Print
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="scholar.contract_status === 'Pre-Approved'">
                          <md-button ng-click="rc.revert(scholar)">
                            Revert
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-list-item>
                </div>
              </md-list>
            </md-content>
          </div>
        </section>
      </div>
      <div flex="0" flex-gt-sm="20"></div>
    </div>
  </div>
</div>
<edit-scholar scholar="rc.scholar_to_edit"></edit-scholar>


