<div>
  <md-toolbar class="md-menu-toolbar" style="border-bottom: 1px solid #c7c7c7;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);">
    <div layout="row">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">source</md-icon>
      </md-toolbar-filler>
      <div flex>
        <h2 class="md-toolbar-tools">Scholars</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Add
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">person_add</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Undergraduate
                  <span class="md-alt-text">Ctrl-B</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">speaker_notes</md-icon>
                <md-button ng-click="ctrl.sampleAction('redo', $event)">
                  Master's/Doctorate
                  <span class="md-alt-text">Ctrl-M</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Export
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">person_add</md-icon>
                <md-button ng-click="sc.exportMasterlist()">
                  Masterlist
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon class="material-icons">speaker_notes</md-icon>
                <md-button ng-click="sc.exportNormal()">
                  Normal
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
      <div flex style="display: flex;justify-content: flex-end;">
        <md-table-pagination md-limit="sc.pagination_data.per_page" md-limit-options="[50, 100, 150]" md-page="sc.pagination_data.current_page" md-total="{{sc.pagination_data.last_page}}" md-on-paginate="sc.scholars" md-page-select></md-table-pagination>
      </div>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" ng-if="!sc.scholars_loaded" style="position: absolute;"></md-progress-linear>
  <div layout="column" layout-xs="column" style="background-color: #fff; padding: 5px;">
    <div flex style="overflow: auto;border: 1px solid #b0b1b3;"  ng-style="resizeDiv()" resize-div  class="container" fixed-column-table >
    <table>
      <thead>
        <tr class="scholars">
          <th><span>No.</span></th>
          <th>
            <input type="text" ng-model="sc.scholar_lastname" style="width:80%;height: 18px;outline: none;" placeholder="Name">
          </th>
          <th>Date of Birth</th>
          <th>Age</th>
          <th>Gender</th>
          <th>
            <select ng-model="sc.status" style="width: 100%;height: 22px;outline: none;" ng-change="sc.selectedStatus(sc.status)">
              <option>Status</option>
              <option value="NEW">NEW</option>
              <option value="OLD">OLD</option>
            </select>
          </th>
          <th>
            <select ng-model="sc.contract_status" style="width: 90%;height: 22px;outline: none;" ng-change="sc.selectedContractStatus(sc.contract_status)">
              <option>Contract status</option>
              <option value="Pre-Approved">Pre-Approved</option>
              <option value="Approved">Approved</option>
              <option value="Pending">Pending</option>
              <option value="In-Active">In-Active</option>
            </select>
          </th>
          <th>Address</th>
          <th>
            <select ng-model="sc.municipality" style="width: 90%;height: 22px;outline: none;" ng-change="sc.selectedMunicipality(sc.municipality)">
              <option>Municipality</option>
              <option ng-value="mun.municipality" ng-repeat="mun in sc.municipalities">{{ mun.municipality }}</option>
            </select>
          </th>
          <th>Father</th>
          <th>Mother</th>
          <th>
            <select ng-model="sc.degree" style="width: 90%;height: 22px;outline: none;" ng-change="sc.selectedDegree(sc.degree)">
              <option>Degree</option>
              <option ng-value="degree" ng-repeat="degree in access_degree">{{ degree }}</option>
            </select>
          </th>
          <th>Course</th>
          <th>School</th>
          <th>Student ID NO.</th>
          <th>Year level</th>
          <th>Last Renewed</th>
          <th>IP.</th>
          <th>Date Created</th>
          <th>Date Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="scholar in sc.scholars track by $index">
          <td style="background-color: #f6c08e;">{{ $index+1 }}.</td>
          <td>
            <span>
            <img ng-src="images/avatarmale.svg" style="max-width:27px;">
            {{ scholar.lastname }}, {{ scholar.firstname }} {{ scholar.middlename }}
            </span>
          </td>
          <td>{{ scholar.date_of_birth }}</td>
          <td>{{ scholar.age }}</td>
          <td><span>{{ scholar.gender }}</span></td>
          <td>
            <span color-scholar-status="{{scholar.scholar_status}}">
              {{ scholar.scholar_status }}
            </span>
          </td>
          <td>
            <span color-contract-status="{{scholar.contract_status}}" >
              {{ scholar.contract_status }}
            </span>
          </td>
          <td>{{ scholar.address.address }}</td>
          <td>{{ scholar.address.municipality }}</td>
          <td>{{ scholar.father_details.firstname }} {{ scholar.father_details.lastname }}, {{ scholar.father_details.middlename }}</td>
          <td>{{ scholar.mother_details.firstname }} {{ scholar.mother_details.lastname }}, {{ scholar.mother_details.middlename }}</td>
          <td>
            <span color-degree degree={{scholar.degree}}>
              {{ scholar.degree }}
            </span>
          </td>
          <td>{{ scholar.course_section }}</td>
          <td>{{ scholar.school.school_name }}</td>
          <td>{{ scholar.student_id_number }}</td>
          <td>{{ scholar.year_level }}</td>
          <td>{{ scholar.academicyear_semester_contract.semester }} - {{ scholar.academicyear_semester_contract.academic_year }}</td>
          <td>{{ scholar.IP }}</td>
          <td>{{ scholar.created_at | formatDate }}</td>
          <td style="display: flex;align-items: center;">
            <span style="margin-right: 20px;">{{ scholar.updated_at | formatDate }}</span>
            <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-click="sc.edit(scholar)">
              <md-tooltip>Edit</md-tooltip>
              edit
            </md-icon>
            <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" hide-btn-actions="{{ ay.state }}">
              <md-tooltip>Delete</md-tooltip>
              close
            </md-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
<edit-scholar scholar="sc.scholar_to_edit"></edit-scholar>