<ng-include src="'/header.html'"></ng-include> 
<div style="font-size: 14px;">
  <md-toolbar class="md-menu-toolbar" style="border-bottom: 1px solid #c7c7c7;">
    <div layout="row" style="min-height: 64px;">
      <md-toolbar-filler style="display: flex;">
        <md-icon class="material-icons">account_balance</md-icon>
      </md-toolbar-filler>
      <h2 class="md-toolbar-tools" style="padding: 20px;">
        <span>School</span>
      </h2>
    </div>
  </md-toolbar>
  <div layout="column">
    <div layout="row">
      <div flex="0" flex-gt-sm="30"></div>
      <div flex class="fading-up">
        <br />
        <md-content flex style="height: 100%;background-color: #fff; padding: 8px;" class="container" ng-if="!s.editing_state">
          <div>
            <md-button class="md-fab md-mini md-primary" ng-click="s.showDialog($event)" ng-if="s.disable_linear_loader" style="float: right;">
              <md-icon class="material-icons">add</md-icon>
            </md-button>
          </div>
          <div>
            <md-input-container style="width: 50%;margin: 25px 0px 0px 0px;height: 40px;">
              <label>Search</label>
              <input type="text" ng-model="s.searched_school" autocomplete="off">
              <md-progress-circular class="md-hue-2" md-diameter="15px" style="position: absolute;right: 0px;top: 10px;" ng-if="s.searching"></md-progress-circular>
            </md-input-container>
          </div>
            <div style="max-height: 475px;overflow: auto;border: 1px solid rgb(176, 177, 179);" class="container" fixed-column-table>
              <div>
                <md-progress-linear md-mode="indeterminate" ng-if="!s.disable_linear_loader"></md-progress-linear>
              </div>
              <table>
                <thead>
                  <tr>
                    <th style="background-color: #dddddd; width: 20px;"><span>No.</span></th>
                    <th style="background-color: #dddddd;"><span>School</span></th>
                  </tr>
                </thead>
                <tbody class="hasFading">
                  <tr ng-repeat="school in s.list_of_schools track by $index">
                    <td style="background: linear-gradient(to bottom, #F8F8F8 0, #eeeeee 100%) !important;">{{ $index+1 }}.</td>
                    <td>
                      <div style="display: flex; align-items: center;justify-content: space-between;">
                        <div>
                          <span>{{ school.school_name }}</span>
                        </div>
                        <div>
                          <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;" ng-click="s.edit(school)">
                            <md-tooltip>Edit</md-tooltip>
                            edit
                          </md-icon>
                          <md-icon class="material-icons" style="font-size: 17px; box-sizing: border-box;padding: 3px;cursor: pointer;outline-style: none;">
                            <md-tooltip>Delete</md-tooltip>
                            close
                          </md-icon>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </md-content>
        <add-school-directive schooldetails="s.school_to_update" ng-if="s.editing_state" editing="s.editing_state"></add-school-directive>
      </div>
      <div flex="0" flex-gt-sm="30"></div>
    </div>
  </div>
</div>


