<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" style="max-width: 270px;position:fixed;">
  <md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
      <h5 flex md-truncate>PSMS</h5>
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="toggleSidenav()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <md-subheader class="md-no-sticky">Menu</md-subheader>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">group</md-icon>
      <p style="margin-top: 5px;"> Undergraduate</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">school</md-icon>
      <p style="margin-top: 5px;"> Master's/Doctorate</p>
    </md-list-item>

    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">dashboard</md-icon>
      <p style="margin-top: 5px;"> Schools</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">location_on</md-icon>
      <p style="margin-top: 5px;"> Addresses</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">dashboard</md-icon>
      <p style="margin-top: 5px;"> Semesters</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">dashboard</md-icon>
      <p style="margin-top: 5px;"> Contract</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">dashboard</md-icon>
      <p style="margin-top: 5px;"> User accounts</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">analytics</md-icon>
      <p style="margin-top: 5px;"> User types</p>
    </md-list-item>
    <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" >
      <md-icon class="material-icons" style="margin-right: 15px;">analytics</md-icon>
      <p style="margin-top: 5px;"> Reports</p>
    </md-list-item>
  </md-content>
</md-sidenav>