<div style="position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: #0000008f;z-index: 2;overflow: auto;z-index: 60;">
	<div style="margin: 1.75rem auto;" flex-xs="85" flex-gt-xs="25">
		<div style="background-color: #6fc76f;">
      <div layout="column" style="height: 90%;">
        <div style="padding: 0px 10px; background-color: #3535a4;color: #ffff;height: 50px;display: flex;align-items: center;">photo
        </div>
         <md-card style="margin: 5px 0px;padding: 25px;">
            <md-card-content class="edit-photo">
              <div style="" class="edit-photo-holder">
                <div>
                  <input type="file" ng-files="ec.getTheFiles($files)" class="top_1em">
                </div>
                <div layout="column" class="file-image">
                  <img ng-src="{{ ec.result_photo | checkPhoto }}">
                </div>
              </div>
            </md-card-content>
            <div style="margin: 3em 0px 1.5em;display: flex;justify-content: center;" >
              <md-button class="md-primary md-raised" ng-click="ec.updatePhoto()" ng-if="ec.image_selected" ng-disabled="ec.updating" style="color: #ffff;">{{ ec.updatePhotoBtnText }}</md-button>
              <md-button class="md-raised md-warn" ng-click="ec.closeEditPhotoModal()" style="color: #ffff;">Close</md-button>
            </div>
          </md-card>
      </div>
		</div>
	</div>
</div>
